extends layout

block scripts
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')

    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp', crossorigin='anonymous')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')

    script(src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.0/bootstrap-slider.min.js')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.0/css/bootstrap-slider.min.css')

    script(src='/js/test.js')


block content
    h1= 'test inteface'
    p= 'give me an image and let me modify it quickly for you'

    div.container-fluid
        div.row
            div.col-sm-8
                form#configure-form.form-horizontal(method="get" action="/image")

                    div.form-group
                        label.control-label.col-sm-2(for='url')= 'image url'
                        div.col-sm-6
                            input#url.form-control(type='url', name='url', placeholder='give me any url to an image', required)

                    div.form-group
                        label.control-label.col-sm-2(for='width', name='width')= 'width'
                        div.col-sm-6
                            input#width.form-control(name='width', type='number', value=250, required)

                    div.form-group
                        label.control-label.col-sm-2(for='height', name='height')= 'height'
                        div.col-sm-6
                            input#height.form-control(name='height', type='number', value=250, required)

                    div.form-group
                        label.control-label.col-sm-2(for='crop', name='crop')= 'cropping'
                        div.col-sm-6
                            select#crop.form-control(name='crop', disabled='disabled')
                                option(value='')= 'none'
                                option(value='fill')= 'fill'
                                option(value='fit')= 'fit'
                                option(value='scale')= 'scale'
                        div.clearfix

                    div.form-group
                        label.control-label.col-sm-2(for='format', name='format')= 'format'
                        div.col-sm-6
                            select#format.form-control(name='format', disabled='disabled')
                                option(value='')= 'default'
                                option(value='jpeg')= 'jpeg'
                                option(value='png')= 'png'
                                option(value='guetzli')= 'guetzli'
                                option(value='raz...ing')= 'raz...ing'
                        div.clearfix

                    div.form-group
                        label.control-label.col-sm-2(for='face', name='face')= 'face'
                        div.col-sm-6
                            select#face.form-control(name='format', disabled='disabled')
                                option(value='')= 'none'
                                option(value='alg1')= 'alg1 description'
                        div.clearfix

                    div.form-group
                        label.control-label.col-sm-2(for='compress', name='compress')= 'compression'
                        div.col-sm-6
                            input#compress.form-control(name='compress', type='number', form='0', to='100', step='5', value='80', data-slider-min='0', data-slider-max='100', data-slider-step='5')

                    div.form-group
                        div.col-sm-offset-2.col-sm-6
                            button#update-button.btn.btn-primary(type='submit')= 'do the magic...'
            div.col-sm-4
                img#result-image.thumbnail(src='https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150')
